
<div class="container full">

	<div class="container">
		<div class="header">	
			<div class="row row-body">				
<!-- 				<div class="col-md-3">
					<%= image_tag 'Anders.jpg', alt: "Anders Kiss - web developer", width: 200, :id => "img-preview" %>
				</div> -->

				<div class="col-md-9 description">
					<h3 class="intro">Anders is a developer with a keen focus on healthcare, design, and thoughtful web applications.</h3><br><h4><em>Principally working with Ruby on Rails, JavaScript, React, Solidity, and Python.</em></h4>
				</div>

				<div class="col-md-3">
					<button type="button" class="btn btn-light">
						<a href=mailto:anderskiss11@gmail.com"?subject="Outreach && Opportunites">CONTACT</a>
					</button>
				</div>
			</div>

			<div id="social">
				<a href="https://www.linkedin.com/in/anders-kiss-92740a25/"><i class="fab fa-linkedin fa-2x"></i></a>
				<a href="https://twitter.com/deviceticker"><i class="fab fa-twitter-square fa-2x"></i></a>
				<a href="https://github.com/Anderche"><i class="fab fa-github-square fa-2x"></i></a>
				<a href=mailto:anderskiss11@gmail.com"?subject="Outreach && Opportunites"><i class="fas fa-envelope-square fa-2x"></i></a>
			</div>

		</div>
	</div>

	<div class="content">

		<div class="content-text">
			<h2>SELECTED PROJECTS</h2>
		</div>

		<div class="row row-cards">

			<div class="col-md-4">
				<div class="card" style="width: 19rem;">
				<a href="https://www.popcornchill.club"><%= image_tag("movie.svg", :class => "card-img-top img-fluid") %></a>
			
					<div class="card-body">
						<h4 class="card-title">Popcorn N Chill</h4>
							<p class="card-text">This is a mobile site intended to help friends select a movie to watch together.</p>

						<p class="responsible" style="font-style: italic;">Responsible for:</p>
						<ul class="responsible" style="width: 70%; text-align: left">
							<li>DESIGN</li>
							<li>DEVELOPMENT</li>
							<li>CONTENT</li>
						</ul>
						<div class="links">
							<a href="https://www.popcornchill.club"><p>www.popcornchill.club</p></a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card" style="width: 19rem;">
				<%= image_tag("ZAETAE.png", :class => "card-img-top img-fluid") %>

					<div class="card-body">
						<h4 class="card-title">ZAETAE</h4>
							<p class="card-text">A multi-sided
							platform connecting patients and providers worldwide - we helped patients find affordable medical treatment. Implemented
							regulations for HIPAA and Personal Health Information (PHI) compliance.</p>

						<p class="responsible" style="font-style: italic;">Responsible for:</p>
						<ul class="responsible" class="responsible" style="width: 70%; text-align: left">
							<li>DESIGN</li>
							<li>DEVELOPMENT</li>
							<li>CONTENT</li>
							<li>BUSINESS FORMATION</li>
						</ul>
						<div class="links">
							<p>www.zaetae.com</p>
							<p><em>... site now deprecated</em></p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card" style="width: 19rem;">
				<%= image_tag("deviceticker.jpg", :class => "card-img-top img-fluid") %>

					<div class="card-body">
						<h4 class="card-title">DeviceTicker</h4>
						<p class="card-text">A subscription newsletter site geared towards medical technology and startup trends.</p>

						<p class="responsible" style="font-style: italic;">Responsible for:</p>
						<ul class="responsible" style="width: 70%; text-align: left">
							<li>DESIGN</li>
							<li>DEVELOPMENT</li>
							<li>CONTENT</li>
							<li>BUSINESS FORMATION</li>
						</ul>
						<div class="links">
							<p>www.deviceticker.com</p>
							<p><em>... site now deprecated</em></p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card" style="width: 19rem;">
				<%= image_tag("RegRemedy.png", :class => "card-img-top img-fluid") %>
					<div class="card-body">
						<h4 class="card-title">RegRemedy</h4>
						<p class="card-text">A site to help medical device makers register products around the world, and setup Quality Systems that are compliant to the international standard, ISO 13485.</p>

						<p class="responsible" style="font-style: italic;">Responsible for:</p>
						<ul class="responsible" style="width: 70%; text-align: left">
							<li>DESIGN</li>
							<li>DEVELOPMENT</li>
							<li>CONTENT</li>
							<li>BUSINESS FORMATION</li>
						</ul>
						<div class="links">
							<p>www.regremedy.com</p>
							<p><em>... site now deprecated</em></p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
